table{
    td:first-child,
    th:first-child,
    td:last-child{
        text-align: center;
    }
}

td, th{
    vertical-align: middle;
}

td:last-child{
    font-size: 24px;
    i:hover{
        color: red;
    }
}

table tbody tr{
    cursor: pointer;
}

.col-id{
    background-color: yellow;
    width: 70px;
}

.col-name{
    background-color: lightseagreen;
    width: 70px;
}

.col-address{
    background-color: lightpink;
    width: 70px;
}

.col-contact{
    background-color: lightcoral;
    width: 150px;
}

.col-remove{
    background-color: lightgreen;
    width: 70px;
}